body {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  background: url("http://www.publicdomainpictures.net/pictures/60000/velka/cat-silhouette-vintage-background.jpg");
  background-color: white;
  background-position: 40% 0;
  font-family: Sans-serif; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; }

nav li {
  float: left; }

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

nav li a:hover {
  background-color: #111;
  color: red; }

figure {
  float: right; }
  figure figcaption {
    font-style: italic; }

p {
  float: left;
  width: 500px; }

footer {
  position: fixed;
  bottom: 3%;
  margin-left: 10px; }
